<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Joan Clarke</h1>
    <img src="joanclarke.jpg" alt="">
    <p>¡Una de las primeras mujeres programadoras cruciales dentro de un hito histórico! Joan Clarke (1917 – 1996) fue una criptoanalista inglesa famosa por su rol como descifradora de códigos durante la Segunda Guerra Mundial. 
    Juntó con el equipo del matemático Alan Turing y desde su guarida secreta, el Hut8, Joan Clarke fue la única mujer que trabajaba para desencriptar las comunicaciones secretas de la Alemania nazi.</p>
    <p>Trabajó arduamente, a Joan Clarke  le pagaban menos que sus colegas hombres (¡nada justo!). Tuvo que ser ascendida a lingüista (aunque no trabajó con otro idioma sino con “lenguaje de máquinas”) para poder acceder a un aumento de salario, pues en aquel entonces no existía una política para una mujer criptoanalista senior. Como respuesta a esta cambió extraño de posición, Joan se divertía respondiendo los cuestionarios con Grado: Lingüista, Idiomas: ninguno.</p>
    <p>La habilidad de Clarke por descifrar los códigos crípticos de los alemanes nazis le valió el nombramiento de la Orden del Imperio Británico en 1946. Sin embargo sus esfuerzos estuvieron ocultos debido a las restricciones de la naturaleza del trabajo.</p>
    <p>Ya en 1971 al finalizar las restricciones de la Ley de Secretos Oficiales, los detalles de su sobresaliente labor recibieron la atención y difusión que merecía. </p>
</body>
</html>