<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Margaret Hamilton</h1>
    <img width="400px" src="margarethamilton.jpg" alt="">
    <p>Nacida en 1936, Margaret Hamilton fue directora de la División de Ingeniería de Software del MIT, donde desarrolló desde cero el software ‘’On-board’’ para el Programa Especial Apolo que llevó al hombre a la Luna.¡La experiencia fue impactante para ella! En sus palabras: »Cuando entré por primera vez, nadie sabía qué era lo que estábamos haciendo. Era como el salvaje oeste. No había rumbo en él. No lo enseñaron».</p>
    <p>El enfoque de Margaret Hamilton sobre diseño de Software fue pionero para su época. Pues los requerimientos de robustez y tolerancia eran prioritarios para la seguridad de los astronautas en sus viajes a nuestro satélite. Por tal motivo, Hamilton es considerada como una de las primeras personas en convertirse en Ingeniera de Confiabilidad del Sitio. ¡El país entero confiaba en ella.</p>
    <p>El legado lunar de Margaret Hamilton también continuó en la tierra. Ella siguió creando Universal Systems Language (USL) usando su experiencia de escribir software para el Programa Apolo. Ello derivó la creación de la compañía Hamilton Technologies en 1986, siendo fundadora y CEO de la misma. En 2016, Margaret Hamilton recibió la Medalla Presidencial de la Libertad por las manos del expresidente Barack Obama, condecoración que es el mayor honor civil en los Estados Unidos. ¡Orgullo patrio!</p>
</body>
</html>