<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros heroes</title>
</head>
<body>
   <h1>Nuestros Heroes</h1>
   <ul>
       <a href="/babbage"><li>Babbage</li></a> <!-- agrega link a babbage para que me redirija a /babbage -->
       <a href="/berners-lee"><li>Berners-lee</li></a>
       <a href="/clarke"><li>Clarke</li></a>
       <a href="/hamilton"><li>Hamilton</li></a>
       <a href="/hopper"><li>Hopper</li></a>
       <a href="/lovelace"><li>Lovelace</li></a>
       <a href="/turing"><li>Turing</li></a> 
   </ul>
    <img width="500px" src="marvel.jpg" alt="">
</body>
</html>