<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros heroes</title>
</head>
<body>
   <h1>Nuestros Heroes</h1>
   <ul>
       <li>Babbage</li>
       <li>Berners-lee</li>
       <li>Clarke</li>
       <li>Hamilton</li>
       <li>Hopper</li>
       <li>Lovelace</li>
       <li>Turing</li>
   </ul>
    <img width="500px" src="marvel.jpg" alt="">
</body>
</html>