<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ada Lovelace</h1>
    <img width="400px" src="adalovelace.jpg" alt="">
    <p>Podría decirse que fue la mujer que abrió las puertas a otras mujeres programadoras. Nacida en 1815, Ada LoveLace fue una una matemática en la época victoriana conocida por sus significativos aportes a la computadora mecánica y el motor analítico creado por Charles Babbage.</p>
    <p>Observadora y detallista, Ada Lovelace fue la primera persona en notar que el motor analítico servía más que para hacer cálculos, razón por la que digitó un algoritmo para calcular los números de Bernoulli usando dicha herramienta. Este hallazgo le otorgó el título de ‘’La primera programadora informática del mundo’’. </p>
    
</body>
</html>